/* PROJECT HTML CSS KELOMPOK 16 C */

* {
  box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "manrope";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

/* BAGIAN HEADER */

span.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  width: 90px;
  margin-top: -15px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}


/* BAGIAN MAIN */

.top-wrapper {
  padding: 250px 30px 250px 30px;
  background-image: url(gambar/1BG.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: #4e4e4d;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(32, 37, 37, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

/* BAGIAN BODDY*/

.lesson-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #212523;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #000000;
}

.heading h2 {
  font-weight: normal;
  color: white;
  text-shadow: #F79F1F;
}

.lesson {
  float: left;
  width: 50%;
  background-color: #212521;
}

.lesson-icon {
  position: relative;
}

.image {
  width: 350px;
  height: 230px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.lesson-icon h3 {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
  text-shadow: 3px 2px 1px rgb(49, 46, 46);
}

.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}

/* BAGIAN FOOTER */

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

h4 {
  color: darkblue;
  text-shadow: whitesmoke;
}

footer p {
  color: #b6b3b8;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: rgb(49, 46, 46);
}

span.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}


/* ANIMASI */
.animasi {
  width: 60%;
  height: 30px;
  background-color: red;
  position: relative;
  animation-name: anima;
  animation-duration: 5s;
  animation-iteration-count: 3;
  text-align: center;
}

@keyframes anima {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}
